.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom:8px solid #252525 ;
}
.right,
.left{
  width: 50%;
  padding: 10px 60px;
}
h1{
  font-size: 42px;
  font-weight: bolder;
}
p{
  font-size: 26px;
  color: #fff;
}